@import url("https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap");
.disabled {
  display: none;
}

html,
body {
  background-color: black;
  color: white;

  width: 100vw;
  height: 100vh;
  margin: 0;
}

.navbar {
  width: 100vw;
  height: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  gap: 10px;

  background-color: #2b2b2b;
}

@media only screen and (max-width: 750px) {
  .navbar {
    width: 100vw;
    height: fit-content;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  
    background-color: #2b2b2b;
  }

  .navbar-spacer {
    height: 0px !important;
    width: 30px;
  }

  .video-video {
    padding: 0px;
    width: 100vw !important;
  }

  .video-container {
    margin: 0 !important;
    padding: 0px !important;
  }

  .comment-textarea {
    width: 80vw;
  }

  .navbar-buttons {
    position: inherit !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 5px !important;
  }

  .video-actions {
    display: flex;
    flex-direction: column !important;
    gap: 10px;
  }

  .subscribe {
    border-radius: 100%;
    border: solid brown 2px;
    font-size: 18px;
    height: 40px !important;
  }

  .user-info {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
  }
}

.navbar-spacer {
  height: 50px;
  width: 30px;
}

.navbar-img {
  height: 50px;
}

.navbar-img-anchor {
  z-index: 2;
}

.navbar-img:hover {
  cursor: pointer;
}

.video {
  color: orange;
  text-decoration: none;
}

.video-video {
  color: orange;
  height: 60vh;
}

.video-container {
  padding: 10px;
  display: flex;
}

.video-info {
  padding: 10px;
  font-family: cursive;
}

.video-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.video-description {
  background-color: #2b2b2b;
  padding: 10px;
}

.comments {
  padding: 10px;
}

.like {
  background-color: #2b2b2b;
  border-radius: 20px;
  border: none;
  color: white;
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.like:hover {
  cursor: pointer;
  background-color: #303030;
}

.dislike {
  background-color: #2b2b2b;
  border-radius: 20px;
  border: none;
  color: white;
  text-align: right;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dislike:hover {
  cursor: pointer;
  background-color: #303030;
}

.comment-span {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.clickable-user {
  color: white;
  text-decoration: double;
}

.clickable-user:hover {
  cursor: pointer;
  color: orange;
}

.login {
  padding: 3px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  font-family: cursive;
  text-align: right;
}

.login:hover {
  cursor: pointer;
}

.user-info {
  padding: 20px;
  background: orange;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: cursive;
  align-items: center;
  justify-content: center;
}

.user-pfp {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 4px solid black;
}

.user-info-name {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.video-uploader {
  color: brown;
  font-family: cursive;
  user-select: none;
  text-decoration: none;
  margin-block-start: 1em;
}

.video-uploader:hover {
  color: purple;
  cursor: pointer;
  text-decoration: overline;
}

.thumbnail {
  width: 300px;
  height: 200px;
}

.thumbnail:hover {
  cursor: pointer;
  filter: saturate(300%);
}

.video-info-container {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

.video-title {
  user-select: none;
}

.video-title:hover {
  cursor: pointer;
  filter: saturate(300%);
}

.videos {
  display: grid;
  column-gap: 10px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px;
}

.no-videos {
  text-align: center;
  color: cyan;
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: 100;
}

.video-author {
  color: white;
  text-decoration: none;
}

.video-author:hover {
  color: purple;
  text-decoration: overline;
  cursor: pointer;
}

.anchor {
  color: white;
  text-decoration: none;
}

.spacer {
  height: 100px;
}

.footer {
  background-color: orange;
  color: black;
  padding: 20px;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: white;
  cursor: pointer;
  text-decoration: overline;
}

.john-pork-container {
  z-index: 10000 !important;
  position:absolute;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.john-pork {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.john-pork-image {
  user-select: none;
  width: 100vw;
  height: 100vh;
}

.john-pork-map {
  width: 100vw;
  height: 100vh;
}

.decline {
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  top: 72%;
  left: 14.1%;
  width: 30.2%;
  height: 17%;
}

.accept {
  cursor: pointer;
  border-radius: 100%;
  position: absolute;
  top: 72.5%;
  left: 63%;
  width: 29.4%;
  height: 16.5%;
}

.john-pork-call {
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.span {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.subscribe {
  border-radius: 100%;
  border: solid brown 2px;
  font-size: 18px;
}

.description-dialog {
  border: 2px solid orange;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: orange;
}

.close {
  border-radius: 5px;
  padding: 5px;
  background-color: orange;
  color: black;
  font-family: cursive;
}

.close:hover {
  cursor: pointer;
  background-color: purple;
}

.description-click {
  text-decoration: underline;
}

.description-click:hover {
  color: grey;
  cursor: pointer;
}

.edit-profile {
  border: 2px black solid;
  border-radius: 50px;
  color: orange;
  font-family: cursive;
  font-size: 15px;
  background-color: purple;
}

.edit-profile:hover {
  cursor: pointer;
}

.navbar-buttons {
  position: absolute;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  gap: 5px;
}

.searchbar-container {
  z-index: 2;
}

.searchbar {
  background-color: black;
  color: orange;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;

  border: none;
  border-radius: 30px;
  padding: 10px;
}

.search-videos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-video {
  display: flex;
  flex-direction: row;
  gap: 15px;
}